---
import { getLangFromUrl } from '@/i18n/utils'

import LanguagePicker from './LanguagePicker.astro'
import Logo from './Logo.astro'
import ThemeSwitcher from './ThemeSwitcher.astro'

const lang = getLangFromUrl(Astro.url)
---

<header
	class="sticky bg-white/90 dark:bg-neutral-800/90 w-full z-20 top-0 inset-s-0 backdrop-blur transition-all duration-100 shadow-sm"
>
	<div
		class="max-w-7xl flex flex-wrap items-center justify-between mx-auto p-4"
	>
		<a
			href={`/${lang}`}
			class="flex items-center space-x-3 rtl:space-x-reverse text-emerald-500"
		>
			<Logo />
		</a>

		<div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
			<LanguagePicker />
			<ThemeSwitcher />
		</div>
	</div>
</header>
