<button
	id="theme-toggle"
	type="button"
	aria-label="Cambiar tema"
	class="text-neutral-500 dark:text-neutral-400 hover:bg-neutral-100 dark:hover:bg-neutral-700 focus:outline-none rounded-lg text-sm p-2.5 ml-1"
>
	<svg
		xmlns="http://www.w3.org/2000/svg"
		id="theme-toggle-dark-icon"
		fill="currentColor"
		class="hidden w-5 h-5"
		viewBox="0 0 20 20"
		><path
			d="M17.293 13.293A8 8 0 0 1 6.707 2.707a8.001 8.001 0 1 0 10.586 10.586"
		></path></svg
	>
	<svg
		xmlns="http://www.w3.org/2000/svg"
		id="theme-toggle-light-icon"
		fill="currentColor"
		class="hidden w-5 h-5"
		viewBox="0 0 20 20"
		><path
			fill-rule="evenodd"
			d="M10 2a1 1 0 0 1 1 1v1a1 1 0 1 1-2 0V3a1 1 0 0 1 1-1m4 8a4 4 0 1 1-8 0 4 4 0 0 1 8 0m-.464 4.95.707.707a1 1 0 0 0 1.414-1.414l-.707-.707a1 1 0 0 0-1.414 1.414m2.12-10.607a1 1 0 0 1 0 1.414l-.706.707a1 1 0 1 1-1.414-1.414l.707-.707a1 1 0 0 1 1.414 0zM17 11a1 1 0 1 0 0-2h-1a1 1 0 1 0 0 2zm-7 4a1 1 0 0 1 1 1v1a1 1 0 1 1-2 0v-1a1 1 0 0 1 1-1M5.05 6.464A1 1 0 1 0 6.465 5.05l-.708-.707a1 1 0 0 0-1.414 1.414zm1.414 8.486-.707.707a1 1 0 0 1-1.414-1.414l.707-.707a1 1 0 0 1 1.414 1.414M4 11a1 1 0 1 0 0-2H3a1 1 0 0 0 0 2z"
			clip-rule="evenodd"></path></svg
	>
</button>

<script is:inline>
	const switchTheme = () => {
		const themeToggleDarkIcon = document.getElementById(
			'theme-toggle-dark-icon'
		)
		const themeToggleLightIcon = document.getElementById(
			'theme-toggle-light-icon'
		)

		if (
			localStorage.getItem('color-theme') === 'dark' ||
			(!('color-theme' in localStorage) &&
				window.matchMedia('(prefers-color-scheme: dark)').matches)
		) {
			themeToggleLightIcon.classList.remove('hidden')
		} else {
			themeToggleDarkIcon.classList.remove('hidden')
		}

		const themeToggleBtn = document.getElementById('theme-toggle')

		themeToggleBtn.addEventListener('click', () => {
			themeToggleDarkIcon.classList.toggle('hidden')
			themeToggleLightIcon.classList.toggle('hidden')

			if (localStorage.getItem('color-theme')) {
				if (localStorage.getItem('color-theme') === 'light') {
					document.documentElement.classList.add('dark')
					localStorage.setItem('color-theme', 'dark')
				} else {
					document.documentElement.classList.remove('dark')
					localStorage.setItem('color-theme', 'light')
				}
			} else {
				if (document.documentElement.classList.contains('dark')) {
					document.documentElement.classList.remove('dark')
					localStorage.setItem('color-theme', 'light')
				} else {
					document.documentElement.classList.add('dark')
					localStorage.setItem('color-theme', 'dark')
				}
			}
		})
	}

	switchTheme()
	document.addEventListener('astro:after-swap', switchTheme)
</script>
