---
import { getLangFromUrl, useTranslations } from '@/i18n/utils'

type Props = {
	text: string
}
const { text }: Props = Astro.props

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
const label = t(text as Parameters<typeof t>[0]) || text
---

<span
	class:list={[
		'text-xs whitespace-nowrap font-medium px-2.5 py-0.5 rounded',
		{
			'bg-emerald-100 text-emerald-800 dark:bg-emerald-900 dark:text-emerald-300':
				text === 'development',
			'bg-sky-100 text-sky-800 dark:bg-sky-900 dark:text-sky-300':
				text === 'paused',
			'bg-rose-100 text-rose-800 dark:bg-rose-900 dark:text-rose-300':
				text === 'cancelled',
			'bg-neutral-100 text-neutral-800 dark:bg-neutral-900 dark:text-neutral-300':
				text === 'coming-soon'
		}
	]}
>
	{label}
</span>
